# Python
__pycache__/
*.pyc

# Logs
*.log

# Generated Installers (artifacts)
PDF_Optimizer_Suite_*.exe

# Resources (Binary Installers)
resources/*.exe

# System
Thumbs.db
Desktop.ini

# Temporary Test Files
*.pdf
*.png
# Except resources
!resources/*.png
!1.png